.modal__editDoc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .modal__editDocWrapper {
        .modal__editTitleDoc {
            .valueError {
                border: 1px solid red;
            }
        }
        .modal__editContentDoc {
            margin-top: 30px;
            .valueError {
                border: 1px solid red;
            }
        }
        .modal__editActionDoc {
            margin-top: 20px;
            text-align: right;
        }
    }
}
