#paper {
  width: 1200px;
  margin: auto;
  border: 1px solid beige ;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14),
                    0 1px 8px 0 rgba(0, 0, 0, 0.12);
}
.Layout-popover-121 {
  width: 1200px  !important;
}
.MuiGrid-container {
  width: 45%  !important;
}