.amgcStage__name {
    p {
        margin: 0;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
        cursor: context-menu;
    }
}
.amgColumn__nameError,
.amgColumn__errorInput {
    border-color: red;
}
